<footer>
  <div class="flex-row">
    <div class="footer-text">
      <p>Find a Chatime near you.</p>
      <p class="same-line">Enter your</p>
      <input
        type="text"
        class="underline-input"
        placeholder="postal code or city"
      />
    </div>
    <img src="../img/btn-app-download-large.png" alt="" />
  </div>
  <ul class="footer-link-list">
    <li>
      <a href="#">&copy; 2024 Chatime. All rights reserved.</a>
    </li>
    <li>
      <a href="#">Terms & Conditions</a>
    </li>
    <li>
      <a href="#">Privacy Policy</a>
    </li>
    <li>
      <a href="#">Contact Us</a>
    </li>
  </ul>
</footer>
