<footer>
  <div class="flex-row">
    <div class="footer-text">
      <p>Location: <span class="purple-color">80 Weston Rd</span></p>
      <p>Hours: <span class="purple-color">Mon - Sun 11 am - 11 pm</span></p>
      <!-- <p>Find another Chatime near you.</p>
      <p class="same-line">Enter your</p>
      <input
        type="text"
        class="underline-input"
        placeholder="postal code or city"
      /> -->
    </div>
    <img src="/img/btn-app-download-large.png" alt="" />
  </div>
  <ul class="footer-link-list">
    <li>
      <a href="#">&copy; 2024 Chatime. All rights reserved.</a>
    </li>
    <li>
      <a href="#">Terms & Conditions</a>
    </li>
    <li>
      <a href="#">Privacy Policy</a>
    </li>
    <li>
      <a href="#">Contact Us</a>
    </li>
  </ul>
</footer>
