main {
  display: flex;
  flex-direction: column;
}

.nav-bar {
  background-color: #693f7f;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px;
}

.nav-bar a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 14px;
  transition: color 0.2s;
}

.nav-bar a:hover {
  color: #a7a7a7;
}

.nav-bar a.all {
  color: rgb(0, 180, 141);
  font-size: 18px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.item-img {
  height: 200px;
}

.item p {
  margin-top: 0;
  margin-bottom: 0;
}

.item-list-wrapper {
  padding-top: 30px;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 30px;
  align-items: stretch;
  overflow-y: auto;
}

.menu-description-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-grow: 1;
  height: 950px;
}

.item-description-container {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat; /* Prevent image from repeating */
  background-size: cover; /* Ensure the image covers the entire area */
  background-position: center; /* Center the background image */
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 60px;
}

.item-description-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 550px;
}

.item-description-wrapper img {
  height: 500px;
}

.item-description-wrapper h1 {
  font-size: 40px;
}

.item-description-wrapper h2 {
  text-align: center;
}

.order-button {
  border: none;
  color: white;
  background-color: rgb(114, 183, 10);
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.order-button:hover {
  background-color: rgb(151, 225, 40);
}

.order-button:active {
  background-color: rgb(114, 183, 10);
}
