main {
  display: flex;
  flex-direction: column;
}

.summary {
  background-color: #693f7f;
  padding: 20px;
}

.summary h1 {
  margin: 0;
  text-align: center;
  color: white;
}

.ordering-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-grow: 1;
}

.ordering-item-container {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat; /* Prevent image from repeating */
  background-size: cover; /* Ensure the image covers the entire area */
  background-position: center; /* Center the background image */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  color: white;
}

.inside-container {
  display: flex;
  align-items: center;
  width: 700px;
}

.ordering-item-container img {
  height: 300px; /* Set height */
  width: auto;
}

.ordering-item-info {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.info p {
  font-weight: 900;
  font-size: 22px;
  text-align: end;
}

.label p {
  font-size: 22px;
  font-weight: 300;
}

.ordering-info h1 {
  text-align: center;
}

.ordering-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ordering-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ordering-form input {
  width: 600px;
  font-size: 20px;
}

.ordering-form select {
  width: 100px;
  font-size: 20px;
}

.ordering-form p {
  font-weight: bold;
  font-size: 22px;
  text-align: start;
  margin-bottom: 5px;
  margin-top: 10px;
}

.tip-section {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.tip-section p {
  margin-top: 0;
}

.submit-order-button {
  margin-top: 20px;
  border: none;
  color: white;
  background-color: rgb(114, 183, 10);
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
  width: 200px;
  background-color: rgb(114, 183, 10);
  transition: background-color 0.2s;
}

.submit-order-button:hover {
  background-color: rgb(151, 225, 40);
}

.submit-order-button:active {
  background-color: rgb(114, 183, 10);
}
